.PlayQueue {
  position: absolute;
  right: 20px;
  bottom: 100px;
  height: 300px;
  width: 250px;
  background: #444;
  overflow-y: auto;
  border: 1px solid #111;
}

.PlayQueue-list {
  margin: 0;
  padding: 0;
}

.PlayQueueItem {
  list-style-type: none;
  color: #fff;
  display: flex;
  padding: 0.5em;
  align-items: center;
  font-size: 0.8em;
  cursor: pointer;
}

.PlayQueueItem:hover {
  background: #555;
}

.PlayQueueItem-selected {
  background: #777;
}

.PlayQueueItem-thumb {
  min-width: 40px;
  margin-right: 0.5em;
}

.PlayQueueItem-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.PlayQueueItem-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.PlayQueueItem-artist {
  color: rgba(255, 255, 255, 0.5);
}

.PlayQueueItem-time {
  color: rgba(255, 255, 255, 0.5);
}
