.PanelHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2em;
  position: relative;
}

.PanelHeader-thumb {
  min-width: 150px;
  z-index: 1;
  margin-right: 1em;
}

.PanelHeader-thumbImage {
  box-shadow: inset 0 0 0 1px var(--white-10), 0 0 0 1px var(--black-10);
}

.PanelHeader-text {
  font-size: 1.1em;
  line-height: 1.5em;
  padding: 0.5em;
  z-index: 1;
}

.PanelHeader-title {
}

.PanelHeader-subtitle:hover,
.PanelHeader-meta:hover {
  text-decoration: underline;
}

.PanelHeader-subtitle {
  color: var(--white-50);
}

.PanelHeader-meta {
  color: var(--white-50);
}

.PanelHeader-close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 1.3em;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.PanelHeader-close:hover {
  opacity: 1;
}
