.Track {
  display: flex;
  text-align: left;
  color: #fff;
  line-height: 2em;
  padding: 0 1em;
}

.Track:hover {
  background: rgba(255, 255, 255, 0.1);
}

.Track-index {
  width: 25px;
  opacity: 0.4;
}

.Track-title {
  flex: 1;
  cursor: pointer;
}

.Track-artist {
  flex: 1;
}

.Track-duration {
  color: rgba(255, 255, 255, 0.8);
  width: 30px;
  margin-right: 1em;
}

.Track-ratingEmpty {
  color: rgba(255, 255, 255, 0.2);
}

.Track-ratingFull {
  color: #f9be03;
}
