.SwitchServer {
  color: #fff;
}

.SwitchServer-server {
}

.SwitchServer-serverPending {
  color: grey;
}

.SwitchServer-serverAvailable {
  color: green;
}

.SwitchServer-serverUnavailable {
  text-decoration: line-through;
  color: grey;
}
