.SearchRoute {
  flex: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.SearchRoute-query {
}

.SearchRoute-inputBtn {
}

.SearchRoute-searchBtn {
}

.SearchRoute-grid {
  min-height: 200px;
}
