.Album {
  display: block;
  text-align: left;
  text-decoration: none;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 1.2em;
}

.Album-image {
  width: 100%;
  height: auto;
}

.Album-text {
  margin: 0.5em 0;
}

.Album-title {
  font-size: 0.85em;
  margin: 0;
  padding: 0;
}

.Album-artist {
  font-size: 0.7em;
  color: #ccc;
  margin: 0;
  padding: 0;
}
