.Album {
  display: block;
  text-align: left;
  text-decoration: none;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
}

.Album-image {
  width: 100%;
  height: auto;
}

.Album-title {
  font-size: 1em;
}

.Album-artist {
  font-size: 0.9em;
  color: #ccc;
}
