.TrackTable-rating {
  width: 40px;
  height: 15px;
}

.TrackTable-row {
  cursor: pointer;
}
.TrackTable-row:hover {
  background: var(--white-10);
}
.TrackTable-row:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px var(--secondary);
}

.TrackTable-evenRow {
  background: var(--white-02);
}

.TrackTable-oddRow {
  background: none;
}

.TrackTable-headerRow {
}

.TrackTable-headerColumn {
  text-transform: none;
  font-weight: regular;
}
