.Controls {
  --height: 80px;

  flex: 1;
  height: var(--height);
  max-height: var(--height);
  position: relative;
  display: flex;
}

.Controls-contents {
  flex: 1;
  display: flex;
  position: relative;
  z-index: 1;
  align-items: center;
}

.Controls-playback {
  display: flex;
  align-items: center;
  margin: 0 0.5em;
}

.Controls-playback-prev,
.Controls-playback-play,
.Controls-playback-next {
  transition: opacity 0.3s ease;
}

.Controls-playback-prev:hover,
.Controls-playback-play:hover,
.Controls-playback-next:hover {
  opacity: 0.8;
}

.Controls-playback-prev,
.Controls-playback-next {
  font-size: 1.5em;
}

.Controls-playback-play {
  font-size: 2.5em;
}

.Controls-centerBlock {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 2em;
}

.Controls-trackInfo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Controls-trackInfo-seperator {
  margin: 0 0.5em;
  color: var(--white-50);
}

.Controls-trackInfo-artist,
.Controls-trackInfo-title {
  width: auto;
}

.Controls-trackInfo-artist:hover,
.Controls-trackInfo-title:hover {
  text-decoration: underline;
}

.Controls-timeline {
  flex: 1;
  display: flex;
  align-items: center;;
  margin-top: 0.5em;
}

.Controls-shuffle,
.Controls-repeat {
  width: auto;
  color: var(--white-50);
  font-size: 0.9em;
}

.Controls-shuffle {
  margin-right: 0.5em;
}

.Controls-shuffle_enabled {
  color: var(--primary);
}

.Controls-repeat {
  margin-left: 0.5em;
}

.Controls-queue {
  width: auto;
  font-size: 1.5em;
}

.Controls-rating {
  width: 120px;
  height: 15px;
}

.Controls-albumThumbButton {
  width: auto;
}

.Controls-albumThumb {
  width: 40px;
  margin: 0 calc((var(--height) - 40px) / 2);
  margin-left: 2em;
}

.Controls-albumThumbImage {
  box-shadow: inset 0 0 0 1px var(--white-10), 0 0 0 1px var(--black-10);
}
