.Controls-container {
  position: relative;
  min-height: 80px;
  overflow: hidden;
  background: #333;
  border-top: 1px solid #222;
}

.Controls-navigationBtns {
  position: absolute;
  left: 30px;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Controls-navigationBtn {
  color: #fff;
  cursor: pointer;

  transition: color 0.3s ease;
  background: none;
  border: none;
  outline: none;

  &:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}

.Controls-playPauseBtn {
  font-size: 30px;
  margin: 0 20px;
}

.Controls-prevNextBtn {
  font-size: 17px;
}

.Controls-gradient {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

.Controls-audio {
  display: none;
}

.Controls-trackDetails {
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 0;
  right: 0;
  top: 16px;
  text-align: center;
}

.Controls-trackTitle {
}

.Controls-artistTitle {
}

.Controls-albumCover {
  display: block;
  position: absolute;
  top: calc((80px - 40px) / 2);
  right: calc((80px - 40px) / 2);
  width: 40px;
  height: 40px;
  background-size: cover;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.Controls-trackRating {
  position: absolute;
  top: calc((80px - 20px) / 2);
  right: calc((80px - 20px) / 2);
}
