.PlaylistInfo {
  position: relative;
  overflow: hidden;
  display: flex;
  padding: 50px;
  background: #333;
}

.PlaylistInfo-image {
  width: 300px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05);
  margin-right: 50px;
  border-radius: 5px;
}

.PlaylistInfo-details {
  flex: 1;
}

.PlaylistInfo-title {
  color: #fff;
  text-align: left;
  margin: 0;
  line-height: 1.5em;
}

.PlaylistInfo-row2 {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  line-height: 1.5em;

  padding-bottom: 2em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.PlaylistInfo-artist {
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
  margin: 0;
}

.PlaylistInfo-year {
  color: rgba(255, 255, 255, 0.5);
  text-align: right;
  margin: 0;
}

.PlaylistInfo-genreList {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.PlaylistInfo-genreItem {
  list-style-type: none;
  color: rgba(255, 255, 255, 0.5);
}

.PlaylistInfo-genreLink {
  color: #fff;
  margin: 0;
  text-align: right;
  line-height: 3em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.PlaylistInfo-genreLink:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.95);
}
