.AlbumInfo {
  position: relative;
  overflow: hidden;
  display: flex;
  padding: 50px;
}

.AlbumInfo-image {
  width: 300px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05);
  margin-right: 50px;
  border-radius: 5px;
}

.AlbumInfo-details {
  flex: 1;
}

.AlbumInfo-title {
  color: #fff;
  text-align: left;
  margin: 0;
  line-height: 1.5em;
}

.AlbumInfo-row2 {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  line-height: 1.5em;

  padding-bottom: 2em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.AlbumInfo-artist {
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
  margin: 0;
}

.AlbumInfo-year {
  color: rgba(255, 255, 255, 0.5);
  text-align: right;
  margin: 0;
}

.AlbumInfo-genre {
  color: #fff;
  margin: 0;
  text-align: right;
  line-height: 3em;
}

.AlbumInfo-background {
  z-index: -1;

  position: absolute;
  top: -30px;
  left: -30px;
  right: -30px;
  bottom: -29px;

  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(50px) saturate(200%) brightness(80%) contrast(60%);
}
