.RatingBars {
  display: flex;
}

.RatingBars-bar {
  float: left;
  height: 100%;
  margin-right: 1px;
  background: rgba(255, 255, 255, 0.3);
}

.RatingBars-bar-active {
  background: rgba(255, 255, 255, 0.9);
}

.RatingBars-bar-hover {
  background: var(--primary);
}
