.Header {
  background-color: #333;
  border-bottom: 1px solid #222;

  min-height: 40px;
  line-height: 40px;
  color: white;
  margin: 0;
  padding: 0 50px;
  text-align: left;

  display: flex;
  justify-content: space-between;
}

.Header-title {
  margin: 0;
  padding: 0;
}

.Header-routes {
  margin: 0;
  padding: 0;
  display: flex;
}

.Header-routeItem {
  margin: 0;
  padding: 0 0.5em;
  list-style-type: none;
}

.Header-routeLink {
  color: #fff;
  text-decoration: none;
}

.Header-routeLink:hover {
  text-decoration: underline;
}

.Header-sections {
  margin: 0;
  padding: 0;
}

.Header-sectionItem {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.Header-sectionLink {
  text-decoration: none;
  color: #fff;
}
