.AlbumsRoute {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.AlbumsRoute-contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.AlbumsRoute-loadMore {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AlbumsRoute-loadMoreButton {
  background: #2c3e50;
  border-radius: 2px;
  border: 0;
  outline: 0;
  padding: 0.5em 1em;
  cursor: pointer;
  color: #fff;
}

.AlbumsRoute-loadMoreButton:hover {
  background: #34495e;
}
