.route_Albums {
  text-align: center;
}

.route_Albums-header {
  background-color: #222;
  line-height: 40px;
  color: white;
  margin: 0;
  padding: 0 50px;
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.route_Albums-intro {
  font-size: large;
}

.route_Albums-contents {
  padding-top: 40px;
}
