.TrackBar {
  position: absolute;
  left: 200px;
  right: 200px;
  bottom: 20px;
}

.TrackBar-track {
  position: absolute;
  bottom: 5px;
  left: 40px;
  right: 40px;
  height: 3px;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  overflow: hidden;
}

.TrackBar-trackBar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 3px;
}

.TrackBar-trackBuffered {
  background: rgba(255, 255, 255, 0.1);
}

.TrackBar-trackCurrentTime {
  background: rgba(255, 255, 255, 1);
}

.TrackBar-timestamp {
  position: absolute;
  bottom: 0;
  color: rgba(255, 255, 255, 0.4);
}

.TrackBar-currentTime {
  left: 0;
}

.TrackBar-duration {
  right: 0;
}
